[submodule "vendors/common"]
	path = vendors/common
	url = git@github.com:osteres/electronic-common.git
[submodule "vendors/eeprom"]
	path = vendors/eeprom
	url = git@github.com:osteres/EEPROM.git
[submodule "vendors/LiquidCrystal"]
	path = vendors/LiquidCrystal
	url = git@github.com:osteres/LiquidCrystal.git
[submodule "vendors/RTClib"]
	path = vendors/RTClib
	url = git@github.com:osteres/RTClib.git
